[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "5.0.4"
djangorestframework = "3.15.1"
drf-nested-routers = "0.93.5"
django-mdeditor = "0.1.20"

[dev-packages]
pytest = "8.2.0"
pytest-django = "4.8.0"
model-bakery = "1.18.0"

[requires]
python_version = "3.12"
